@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* place-items: center; */
}